<div id="timerBox" class="w-192 mt-5 flex items-center justify-center">
  <div
    id="timerBoxLogic"
    class="flex grow flex-col items-center justify-center"
  >
    <div class="mb-10 flex flex-col items-center justify-center gap-3">
      <div id="setTime" class="text-2xl" th:text="${setTimeAsString}"></div>

      <div
        id="timer"
        class="text-5xl"
        th:value="${remainingTime}"
        th:text="${remainingTimeAsString}"
      ></div>

      <p id="currentStage" class="text-2xl">Pause</p>
    </div>

    <div class="grid grid-cols-2 gap-3">
      <button
        hx-patch="/timer/focusAfterPause"
        hx-ext="json-enc"
        hx-target="#timerBox"
        hx-swap="outerHTML"
        hx-vals="js:{
            setTimeAsString: document.getElementById('setTime').innerHTML,
            timerRemainingTimeAsString: document.getElementById('timer').innerHTML,
            timerRemainingTime: document.getElementById('timer').getAttribute('value'),
            timerSelectedTopic: document.getElementById('selectedTopic').innerHTML,
            timerShortBreak: document.getElementById('shortBreak').innerHTML,
            timerLongBreak: document.getElementById('longBreak').innerHTML,
            timerAutoBreak: document.getElementById('timerAutoBreak').getAttribute('value'),
        }"
        class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
      >
        Resume
      </button>

      <button
        hx-patch="/timer/homeAfterReset"
        hx-ext="json-enc"
        hx-target="#timerBox"
        hx-swap="outerHTML"
        class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
      >
        Reset
      </button>

      <button
        class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
        hx-patch="/timer/shortBreak"
        hx-ext="json-enc"
        hx-target="#timerBox"
        hx-swap="outerHTML"
        hx-vals="js:{
            timerSelectedTopic: document.getElementById('selectedTopic').innerHTML,
            timerShortBreak: document.getElementById('shortBreak').innerHTML,
            timerLongBreak: document.getElementById('longBreak').innerHTML,
            timerAutoBreak: document.getElementById('timerAutoBreak').getAttribute('value'),
            timerInterval: document.getElementById('interval').innerHTML
        }"
      >
        Short break
      </button>

      <button
        class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
        hx-patch="/timer/longBreak"
        hx-ext="json-enc"
        hx-target="#timerBox"
        hx-swap="outerHTML"
        hx-vals="js:{
            timerSelectedTopic: document.getElementById('selectedTopic').innerHTML,
            timerShortBreak: document.getElementById('shortBreak').innerHTML,
            timerLongBreak: document.getElementById('longBreak').innerHTML,
            timerAutoBreak: document.getElementById('timerAutoBreak').getAttribute('value'),
            timerInterval: document.getElementById('interval').innerHTML
        }"
      >
        Long break
      </button>
    </div>
  </div>

  <div
    id="timerBoxSettings"
    class="flex w-2/5 flex-col items-start justify-center gap-3 border-l-2 border-black pl-4"
  >
    <div>
      <label for="selectedTopic" class="col-span-2 col-start-1"
        >Selected topic</label
      >
      <p id="selectedTopic" class="text-2xl" th:text="${selectedTopic}"></p>
    </div>

    <div>
      <label class="mb-0.5 ml-2" for="shortBreakBox">Short break</label>
      <div id="shortBreakBox" class="flex gap-2">
        <p id="shortBreak" class="text-2xl" th:text="${shortBreak}"></p>
        <p class="text-2xl">min</p>
      </div>
    </div>

    <div>
      <label class="mb-0.5 ml-2" for="longBreak">Long break</label>
      <div id="longBreakBox" class="flex gap-2">
        <p id="longBreak" class="text-2xl" th:text="${longBreak}"></p>
        <p class="text-2xl">min</p>
      </div>
    </div>

    <div>
      <label class="mb-0.5 ml-2" for="timerAutoBreak">Auto break</label>
      <p
        id="timerAutoBreak"
        class="text-2xl"
        th:text="${timerAutoBreakPretty}"
        th:value="${timerAutoBreak}"
      ></p>
    </div>

    <div th:classappend="${timerAutoBreak? '' : 'hidden'}">
      <label class="mb-0.5 ml-2" for="interval">Interval</label>
      <p id="interval" class="text-2xl">10</p>
    </div>
  </div>
</div>
