<div id="timerBox" class="w-192 mt-5 flex items-center justify-center">
  <div
    id="timerBoxLogic"
    class="flex grow flex-col items-center justify-center"
  >
    <div class="mb-10 flex flex-col items-center justify-center gap-3 text-2xl">
      <div class="flex items-center justify-center gap-3">
        <div>
          <input
            type="number"
            id="timerSetHours"
            name="timerSetHours"
            min="0"
            max="99"
            th:value="${timerSetHours}"
            class="w-20 rounded-lg border p-2 text-black focus:outline-none"
          />
          <label for="timerSetHours">h</label>
        </div>

        <div>
          <input
            type="number"
            id="timerSetMinutes"
            name="timerSetMinutes"
            min="0"
            max="60"
            th:value="${timerSetMinutes}"
            class="w-20 rounded-lg border p-2 text-black focus:outline-none"
          />
          <label for="timerSetMinutes">m</label>
        </div>

        <div>
          <input
            type="number"
            id="timerSetSeconds"
            name="timerSetSeconds"
            min="0"
            max="60"
            th:value="${timerSetSeconds}"
            class="w-20 rounded-lg border p-2 text-black focus:outline-none"
          />
          <label for="timerSetSeconds">s</label>
        </div>
      </div>

      <p id="currentStage" class="text-2xl">Home</p>
    </div>

    <button
      hx-patch="/timer/focusAfterHome"
      hx-ext="json-enc"
      hx-target="#timerBox"
      hx-swap="outerHTML"
      hx-include="[name='timerSetHours'], [name='timerSetMinutes'], [name='timerSetSeconds'], [name='shortBreak'], [name='longBreak'], [name='interval']"
      hx-vals="js:{
          timerAutoBreak: document.getElementById('timerAutoBreak').getAttribute('value'),
          timerSelectedTopic: document.getElementById('selectedTopic').innerHTML
        }"
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Start
    </button>

    <a href="/stopwatch" class="dash-animation mt-10 text-xl">Stopwatch</a>
  </div>

  <div
    class="flex w-2/5 flex-col items-start gap-3 border-l-2 border-black pl-4"
  >
    <form class="flex w-4/5 flex-col">
      <label class="mb-0.5 ml-2" for="selectTopic">Select a topic</label>

      <select
        id="selectTopic"
        class="rounded-lg p-2 text-black focus:outline-none"
      >
        <option
          id="selectedTopic"
          selected
          th:value="${firstTopic.getName()}"
          th:text="${firstTopic.getName()}"
        ></option>
        <option
          th:each="topic: ${topics}"
          th:value="${topic.getName()}"
          th:text="${topic.getName()}"
        ></option>
      </select>
    </form>

    <div>
      <label class="mb-0.5 ml-2" for="shortBreak">Short break</label>
      <div id="shortBreak" class="flex items-center gap-2">
        <input
          type="number"
          name="shortBreak"
          min="0"
          th:value="${shortBreak}"
          class="w-16 rounded-lg border p-2 text-black focus:outline-none"
        />
        <p class="text-2xl">min</p>
      </div>
    </div>

    <div>
      <label class="mb-0.5 ml-2" for="longBreak">Long break</label>
      <div id="longBreak" class="flex items-center gap-2">
        <input
          type="number"
          name="longBreak"
          min="0"
          th:value="${longBreak}"
          class="w-16 rounded-lg border p-2 text-black focus:outline-none"
        />
        <p class="text-2xl">min</p>
      </div>
    </div>

    <div
      th:replace="timer/fragments/timerAutoBreakSettings.html :: #timerAutoBreakSettings"
    ></div>
  </div>
</div>
