<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Timer home home</title>
    <link th:href="@{/output.css}" rel="stylesheet" />
    <!--    <link href="../../static/output.css" rel="stylesheet" />-->
  </head>
  <body>
    <div
      class="bg-base-bg text-base-text flex h-screen w-screen flex-col items-center justify-start"
    >
      <div
        class="w-176 flex flex-col items-center justify-center gap-4 border border-black"
      >
        <form class="flex w-1/2 flex-col">
          <label class="mb-0.5 ml-2 text-sm" for="selectTopic"
            >Select a topic</label
          >

          <select
            id="selectTopic"
            class="rounded-lg p-2 text-black focus:outline-none"
          >
            <option
              selected
              th:value="${firstTopic}"
              th:text="${firstTopic}"
            ></option>
            <option
              th:each="topic: ${topics}"
              th:value="${topic}"
              th:text="${topic}"
            ></option>
          </select>
        </form>

        <div class="my-20 flex flex-col items-center justify-center gap-3">
          <p class="text-2xl">5h 20m 0s</p>
          <p id="timer" class="text-5xl"></p>
          <p class="text-2xl">Focus</p>
        </div>

        <script>
          let time = 0;

          setInterval(function () {
            time++;

            let seconds = time % 60;
            let minutes = Math.floor(time / 60) % 60;
            let hours = Math.floor(time / 60 / 60);

            document.getElementById("timer").innerHTML =
              hours + "h " + minutes + "m " + seconds + "s ";
          }, 1000);
        </script>

        <div class="text-lg">Start</div>

        <div class="text-lg">Stopwatch -></div>
      </div>
      <a href="/logout" class="mt-6"> Log out </a>
    </div>
  </body>
</html>
