<div id="timer-box" class="mt-20 flex flex-col items-center justify-center">
  <div class="mb-20 flex flex-col items-center justify-center gap-3">
    <div id="set-time" class="text-2xl" th:text="${setTimeAsString}"></div>

    <div id="timer" class="text-5xl" th:value="${remainingTime}"></div>

    <p class="text-2xl">Focus</p>
  </div>

  <div class="grid grid-cols-2 gap-3">
    <button
      hx-put="/timer/paused"
      hx-ext="json-enc"
      hx-trigger="click"
      hx-target="#timer-box"
      hx-swap="outerHTML"
      hx-vals="js:{remainingTime: document.getElementById('timer').getAttribute('value'), remainingTimeAsString: document.getElementById('timer').innerHTML, setTimeAsString: document.getElementById('set-time').innerHTML}"
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Pause
    </button>

    <button
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Home
    </button>

    <button
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Short break
    </button>

    <button
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Long break
    </button>
  </div>

  <script>
    let remainingTime = [[${remainingTime}]];

    setInterval(function () {
        if (remainingTime > 0) {
            remainingTime--;
        }

        let seconds = remainingTime % 60;
        let minutes = Math.floor(remainingTime / 60) % 60;
        let hours = Math.floor(remainingTime / 60 / 60);

        document.getElementById("timer").innerHTML =
            hours + "h " + minutes + "m " + seconds + "s ";

        document.getElementById("timer").setAttribute("value", remainingTime.toString());
    }, 1000);
  </script>
</div>
