<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Timer</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link th:href="@{/output.css}" rel="stylesheet" />
    <!--    <link href="../../static/output.css" rel="stylesheet" />-->
  </head>
  <body>
    <div
      class="bg-base-bg text-base-text flex h-screen w-screen flex-col items-center justify-start"
    >
      <div
        class="w-176 mt-5 flex items-center justify-center border border-black"
      >
        <div class="flex grow flex-col items-center justify-center">
          <form class="flex w-1/2 flex-col">
            <label class="mb-0.5 ml-2 text-sm" for="selectTopic"
              >Select a topic</label
            >

            <select
              id="selectTopic"
              class="rounded-lg p-2 text-black focus:outline-none"
            >
              <option
                selected
                th:value="${firstTopic.getName()}"
                th:text="${firstTopic.getName()}"
              ></option>
              <option
                th:each="topic: ${topics}"
                th:value="${topic.getName()}"
                th:text="${topic.getName()}"
              ></option>
            </select>
          </form>

          <div
            id="timer-box"
            class="mt-20 flex flex-col items-center justify-center"
          >
            <div
              class="mb-20 flex flex-col items-center justify-center gap-3 text-2xl"
            >
              <div class="flex items-center justify-center gap-3">
                <div>
                  <input
                    type="number"
                    id="hours"
                    name="hours"
                    min="0"
                    max="99"
                    th:value="${latestSetTimeHours}"
                    class="w-20 rounded-lg border p-2 text-black focus:outline-none"
                  />
                  <label for="hours">h</label>
                </div>

                <div>
                  <input
                    type="number"
                    id="minutes"
                    name="minutes"
                    min="0"
                    max="60"
                    th:value="${latestSetTimeMinutes}"
                    class="w-20 rounded-lg border p-2 text-black focus:outline-none"
                  />
                  <label for="minutes">m</label>
                </div>

                <div>
                  <input
                    type="number"
                    id="seconds"
                    name="seconds"
                    min="0"
                    max="60"
                    th:value="${latestSetTimeSeconds}"
                    class="w-20 rounded-lg border p-2 text-black focus:outline-none"
                  />
                  <label for="seconds">s</label>
                </div>
              </div>

              <p id="current-stage" class="text-2xl">Home</p>
            </div>

            <button
              hx-put="/timer/running"
              hx-ext="json-enc"
              hx-trigger="click"
              hx-target="#timer-box"
              hx-swap="outerHTML"
              hx-include="[name='hours'], [name='minutes'], [name='seconds']"
              class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
            >
              Start
            </button>

            <div class="dash-animation mt-10 text-xl">Stopwatch</div>
          </div>
        </div>
        <div class="flex flex-col items-center justify-center gap-3 p-4">
          <div class="grid grid-cols-2">
            <label for="short-break" class="col-span-2 col-start-1"
              >Short break</label
            >
            <input
              type="number"
              id="short-break"
              name="short-break"
              min="0"
              th:value="${shortBreak}"
              class="col-start-1 w-16 rounded-lg border p-2 text-black focus:outline-none"
            />
            <p class="ml-2 flex items-end justify-start text-2xl">min</p>
          </div>

          <div class="grid grid-cols-2">
            <label for="long-break" class="col-span-2 col-start-1"
              >Long break</label
            >
            <input
              type="number"
              id="long-break"
              name="long-break"
              min="0"
              th:value="${longBreak}"
              class="col-start-1 w-16 rounded-lg border p-2 text-black focus:outline-none"
            />
            <p class="ml-2 flex items-end justify-start text-2xl">min</p>
          </div>

          <div class="flex flex-col" th:if="${timerAutoBreak}">
            <label for="interval">Interval</label>
            <input
              type="number"
              id="interval"
              name="interval"
              min="0"
              th:value="${interval}"
              class="w-20 rounded-lg border p-2 text-black focus:outline-none"
            />
          </div>
        </div>
      </div>

      <a
        href="/logout"
        class="dash-animation absolute bottom-0 left-0 m-3 w-fit text-xl"
      >
        Log out
      </a>
    </div>

    <script>
      let remainingTime;
      let intervalId;
    </script>
  </body>
</html>
