<div id="timer-box" class="mt-20 flex flex-col items-center justify-center">
  <div class="mb-20 flex flex-col items-center justify-center gap-3">
    <div id="set-time" class="text-2xl" th:text="${setTimeAsString}"></div>

    <div
      id="timer"
      class="text-5xl"
      th:value="${remainingTime}"
      th:text="${remainingTimeAsString}"
    ></div>

    <p id="current-stage" class="text-2xl">Pause</p>
  </div>

  <div class="grid grid-cols-2 gap-3">
    <button
      hx-put="/timer/resumed"
      hx-ext="json-enc"
      hx-target="#timer-box"
      hx-swap="outerHTML"
      hx-vals="js:{remainingTime: document.getElementById('timer').getAttribute('value'), remainingTimeAsString: document.getElementById('timer').innerHTML, setTimeAsString: document.getElementById('set-time').innerHTML}"
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Resume
    </button>

    <button
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Home
    </button>

    <button
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Short break
    </button>

    <button
      class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
    >
      Long break
    </button>
  </div>
</div>
