<div id="timer-box" class="flex flex-col items-center justify-center">
  <div
    class="my-20 flex flex-col items-center justify-center gap-3 rounded-full"
  >
    <div class="text-2xl">5h 20m 0s</div>

    <div id="timer" class="text-5xl"></div>

    <p class="text-2xl">Focus</p>
  </div>

  <button
    hx-put="/timer/running"
    hx-trigger="click"
    hx-target="#timer-box"
    hx-swap="outerHTML"
    class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
  >
    Stop
  </button>
</div>

<script>
  let startTime = 500;

  setInterval(function () {
    if (startTime > 0) {
      startTime--;
    }

    let seconds = startTime % 60;
    let minutes = Math.floor(startTime / 60) % 60;
    let hours = Math.floor(startTime / 60 / 60);

    document.getElementById("timer").innerHTML =
      hours + "h " + minutes + "m " + seconds + "s ";
  }, 1000);
</script>
