<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Timer</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <link th:href="@{/output.css}" rel="stylesheet" />
    <!--    <link href="../../static/output.css" rel="stylesheet" />-->
  </head>
  <body>
    <div
      class="bg-base-bg text-base-text flex h-screen w-screen flex-col items-center justify-start"
    >
      <div
        class="w-176 flex flex-col items-center justify-center gap-4 border border-black"
      >
        <form class="flex w-1/2 flex-col">
          <label class="mb-0.5 ml-2 text-sm" for="selectTopic"
            >Select a topic</label
          >

          <select
            id="selectTopic"
            class="rounded-lg p-2 text-black focus:outline-none"
          >
            <option
              selected
              th:value="${firstTopic}"
              th:text="${firstTopic}"
            ></option>
            <option
              th:each="topic: ${topics}"
              th:value="${topic}"
              th:text="${topic}"
            ></option>
          </select>
        </form>

        <div id="timer-box" class="flex flex-col items-center justify-center">
          <div
            class="my-20 flex flex-col items-center justify-center gap-3 rounded-full"
          >
            <div class="text-2xl">5h 20m 0s</div>
            <div class="text-2xl">
              <input
                type="number"
                id="hours"
                name="hours"
                min="0"
                max="99"
                class="w-20 rounded-lg border p-2 text-black focus:outline-none"
              />
              <label class="" for="hours">h</label>

              <input
                type="number"
                id="minutes"
                name="minutes"
                min="0"
                max="60"
                class="w-20 rounded-lg border p-2 text-black focus:outline-none"
              />
              <label class="" for="minutes">m</label>

              <input
                type="number"
                id="seconds"
                name="seconds"
                min="0"
                max="60"
                class="w-20 rounded-lg border p-2 text-black focus:outline-none"
              />
              <label class="" for="seconds">s</label>
            </div>
            <p class="text-2xl">Focus</p>
          </div>

          <button
            hx-put="/timer/running"
            hx-ext="json-enc"
            hx-trigger="click"
            hx-target="#timer-box"
            hx-swap="outerHTML"
            hx-include="[name='hours'], [name='minutes'], [name='seconds']"
            class="bg-base-button hover:bg-base-button-hov rounded-md px-4 py-2 text-xl duration-200"
          >
            Start
          </button>
        </div>

        <div class="text-lg">Stopwatch -></div>
      </div>
      <a href="/logout" class="mt-6"> Log out </a>
    </div>
  </body>
</html>
