<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link th:href="@{/output.css}" rel="stylesheet" />
  </head>
  <body>
    <div
      class="bg-base-bg text-base-text flex h-screen w-screen flex-col items-center justify-center gap-4"
    >
      <a
        href="/welcome"
        class="after:bg-base-line absolute left-0 top-0 w-fit cursor-pointer p-3 text-2xl after:block after:h-0.5 after:w-0 after:duration-200 hover:after:w-full"
      >
        Welcome page
      </a>

      <div th:if="${param.success}">
        <div class="text-xl">You have successfully registered!</div>
      </div>

      <form
        method="post"
        role="form"
        th:action="@{/register/validation}"
        th:object="${registerRequestDto}"
        class="bg-form-bg flex w-96 flex-col items-center justify-between gap-3 rounded-lg p-12"
      >
        <div class="w-full">
          <label for="login" class="mb-0.5 ml-2 text-lg">Login</label>
          <input
            class="border-form-border bg-form-bg placeholder-placeholder block w-full rounded-lg border p-2 focus:outline-none"
            type="text"
            id="login"
            name="login"
            th:field="*{login}"
          />

          <ul class="ml-4 list-disc">
            <li
              th:each="err : ${#fields.errors('login')}"
              th:text="${err}"
              class="text-error text-sm"
            />
          </ul>
        </div>

        <div class="w-full">
          <label class="mb-0.5 ml-2 text-lg">Password</label>
          <input
            class="border-form-border bg-form-bg placeholder-placeholder block w-full rounded-lg border p-2 focus:outline-none"
            type="password"
            id="password"
            name="password"
          />

          <ul class="ml-4 list-disc">
            <li
              th:each="err : ${#fields.errors('password')}"
              th:text="${err}"
              class="text-error text-sm"
            />
          </ul>
        </div>

        <div class="w-full">
          <label class="mb-0.5 ml-2 text-lg">Email</label>
          <input
            class="border-form-border bg-form-bg placeholder-placeholder block w-full rounded-lg border p-2 focus:outline-none"
            type="text"
            id="email"
            name="email"
          />

          <ul class="ml-4 list-disc">
            <li
              th:each="err : ${#fields.errors('email')}"
              th:text="${err}"
              class="text-error text-sm"
            />
          </ul>
        </div>

        <button
          type="submit"
          class="bg-base-button hover:bg-base-button-hov mt-6 rounded-md px-4 py-2 text-xl duration-200"
        >
          Register
        </button>
      </form>

      <a
        href="/login"
        class="after:bg-base-line cursor-pointer text-xl after:block after:h-0.5 after:w-0 after:duration-200 hover:after:w-full"
      >
        Or log in
      </a>
    </div>
  </body>
</html>
