<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="../static/htmx.min.js"></script>
    <title>Title</title>
  </head>
  <body>
    <form id="example-form" hx-post="/test">
      <input
        name="example"
        onkeyup="this.setCustomValidity('') // reset the validation on keyup"
        hx-on:htmx:validation:validate="if(this.value != 'foo') {
                    this.setCustomValidity('Please enter the value foo') // set the validation error
                    htmx.find('#error-message').innerText = 'Please enter the value foo'; // display error message
                } else {
                    htmx.find('#error-message').innerText = ''; // clear error message if validation passes
                }"
      />
      <button type="submit">Submit</button>
    </form>
    <div id="error-message" style="color: red"></div>
  </body>
</html>
